{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Manager Co.</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/book_store.css' %}" />
        <link rel="stylesheet" href="{% static 'css/book_admin.css' %}" />
        <script type="text/javascript" src="{% static 'js/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/babel-core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/enscroll.js' %}"></script>
    </head>
    <body>
        <div class="book_store_wrapper">
            {% include 'header.html' %}
            <div class="book_store_container">
                <div class="store_container_left" id="book_container_left">
                    <script type="text/babel" src="{% static 'js/react_admin.js' %}"></script>
                </div>
                <div class="store_container_right" id="book_container_right">
                </div>
                <div class="clearB"></div>
            </div>
        </div>
    </body>
</html>