
            <div class="book_store_header">
                <div class="book_store_container">
                    <div class="book_store_logo">
                        <img src="/templates/images/book.png" height="55px"/>
                        <span>Book Manager Co.</span>
                        <div class="clearB"></div>
                    </div>
                    <div class="book_store_nav">
                        <div class="book_top_nav">
                            <div class="book_nav_login">
                                <span>View as:</span>
                                <a href="/#">Customer</a>
                                <span>/</span>
                                <a href="/admin">Admin</a>
                            </div>
                            <div class="clearB"></div>
                        </div>
                        <div class="book_bottom_nav">
                            <div class="nav_item">
                                <a href="#">Settings</a>
                            </div>
                            <div class="nav_item {% if record_type == 'keyword' %}nav_active{% endif %}">
                                <a href="/admin/list/keywords">Keywords</a>
                            </div>
                            <div class="nav_item {% if record_type == 'author' %}nav_active{% endif %}">
                                <a href="/admin/list/authors">Authors</a>
                            </div>
                            <div class="nav_item {% if record_type == 'book' %}nav_active{% endif %}">
                                <a href="/admin/">Books</a>
                            </div>
                            <div class="clearB"></div>
                        </div>
                    </div>
                    <div class="clearB"></div>
                </div>
            </div>