{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Manager Co.</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/book_store.css' %}" />
        <script type="text/javascript" src="{% static 'js/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/babel-core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <div class="book_store_wrapper">
            {% include 'header_store.html' %}
            <div class="book_store_container">
                <div class="store_container_left">
                    <div class="book_collection" id="collection_whats_new"></div>
                    <div class="book_collection" id="collection_sale"></div>
                </div>
                <div class="store_container_right">
                    <div id="collection_search"></div>
                    <div id="collection_cart">
                        <div class="collection_cart_container">
                            <div class="collection_cart_label">My cart</div>
                            <div class="collection_cart_list">
                                <div class="collection_cart_empty">
                                    <img src="/templates/images/cart_empty.png" />
                                    <span>You cart is empty</span>
                                </div>
                            </div>
                            <div class="collection_cart_total">
                                <span class="cart_total_label">Total: </span>
                                <span class="cart_total_value">$1000.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearB"></div>
            </div>
        </div>
        <script type="text/babel" src="{% static 'js/react_user.js' %}"></script>
    </body>
</html>