{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Manager Co.</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/book_store.css' %}" />
        <script type="text/javascript" src="{% static 'js/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/babel-core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <div class="book_store_wrapper">
            {% include 'header_store.html' %}
            <div class="book_store_container">
                <div class="store_container_left">
                    <div class="view_book_result">
                        <div class="view_book_label">Book</div>
                        <div class="view_book_list">
                            {% if result %}
                                <div class="view_item">
                                    <div class="view_item_left">
                                        <a href="/book/{{ result.book_code }}">
                                            <img src="{{ result.book_img }}" class="view_item_img"/>
                                        </a>
                                    </div>
                                    <div class="view_item_right">
                                        <div class="view_item_title">
                                            <a href="/book/{{ result.book_code }}">{{ result.book_title }}</a>
                                        </div>
                                        <div class="view_item_author">
                                            {% for a in authors %}
                                                <div>{{ a }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="view_item_price">{{ result.book_price }}</div>
                                    </div>
                                    <div class="clearB"></div>
                                    {% if result.book_desc %}
                                    <div class="view_item_desc">{{ result.book_desc|safe }}</div>
                                    {% endif %}
                                    <div class="view_item_action">
                                        <a href="#" class="action_update">Add to cart</a>
                                        <a href="#" class="action_delete">View detail</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="view_book_nolist">No result to display.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="store_container_right">
                    <div id="collection_search"></div>
                </div>
                <div class="clearB"></div>
            </div>
        </div>
        <script type="text/babel" src="{% static 'js/react_search.js' %}"></script>
    </body>
</html>