{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Manager Co.</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/book_store.css' %}" />
        <link rel="stylesheet" href="{% static 'css/book_admin.css' %}" />
        <script type="text/javascript" src="{% static 'js/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/babel-core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <div class="book_store_wrapper">
            {% include 'header.html' %}
            <div class="book_store_container">
                <div class="record_store_list">
                    <div class="record_store_label">{{ record_type|capfirst }}</div>
                    <div class="record_store_table">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                {% if record_type == 'authors' %}
                                    <tr>
                                        <th width="10%">Select</th>
                                        {% for h in header_list %}
                                            <th width="{{ h.size }}">{{ h.name }}</th>
                                        {% endfor %}
                                    </tr>
                                    {% for rec in record_list %}
                                        <tr>
                                            <td><input type="checkbox" /></td>
                                            <td>
                                                <a href="{% url 'admin view' 'author' rec.name %}" target="_blank">{{ rec.name }}</a>
                                            </td>
                                            <td>{{ rec.bio }}</td>
                                            <td><a href="{{ rec.link }}" target="_blank">{{ rec.link }}</a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="{{ record_count }}">No record to display.</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        {% for h in header_list %}
                                            <th width="{{ h.size }}">{{ h.name }}</th>
                                        {% endfor %}
                                    </tr>
                                    {% for rec in record_list %}
                                        <tr>
                                            <td>{{ rec.keyword }}</td>
                                            <td>{{ rec.count }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="2">No record to display.</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="record_store_action">
                        <a href="#" class="action_markAll">Mark All</a>
                        <a href="#" class="action_unmarkAll">Unmark All</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>