{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Manager Co.</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/book_store.css' %}" />
        <script type="text/javascript" src="{% static 'js/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/babel-core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <div class="book_store_wrapper">
            {% include 'header_store.html' %}
            <div class="book_store_container">
                <div class="store_container_left">
                    <div class="search_book_result">
                        <div class="search_book_label">Search results for: {{ keyword }}</div>
                        <div class="search_book_list">
                            {% for result in search_result %}
                                <div class="search_item">
                                    <div class="search_item_left">
                                        <a href="#">
                                            <img src="{{ result.image }}" class="search_item_img"/>
                                        </a>
                                    </div>
                                    <div class="search_item_right">
                                        <div class="search_item_title">
                                            <a href="/book/{{ result.id }}">{{ result.title }}</a>
                                        </div>
                                        <div class="search_item_author">
                                            {% for a in result.author %}
                                                <div>{{ a }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="search_item_price">{{ result.price }}</div>
                                        <div class="search_item_action">
                                            <a href="#" class="action_update">Add to cart</a>
                                            <a href="#" class="action_delete">View detail</a>
                                        </div>
                                    </div>
                                    <div class="clearB"></div>
                                </div>
                            {% empty %}
                                <div class="search_book_nolist">No result to display.</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="store_container_right">
                    <div id="collection_search"></div>
                </div>
                <div class="clearB"></div>
            </div>
        </div>
        <script type="text/babel" src="{% static 'js/react_search.js' %}"></script>
    </body>
</html>