{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Manager Co.</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/book_store.css' %}" />
        <link rel="stylesheet" href="{% static 'css/book_admin.css' %}" />
        <script type="text/javascript" src="{% static 'js/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/babel-core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <div class="book_store_wrapper">
            {% include 'header.html' %}
            <div class="book_store_container">
                <div class="book_update_admin">
                    <form method="POST" action="/admin/save/{{ record_type }}/{{ record_id }}/">
                        {% csrf_token %}
                        <div class="book_update_label">{{ record_type|capfirst }}</div>
                        <div class="book_update_form">    
                            {% for fld in record_field %}
                                <div class="book_update_fld">
                                    <label for="{{ fld.id }}">{{ fld.name }}</label>
                                    {% if fld.type == 'text' %}
                                        <input type="text" value="{{ fld.value }}" name="{{ fld.id }}"/>
                                    {% elif fld.type == 'textarea' %}
                                        <textarea name="{{ fld.id }}">{{ fld.value }}</textarea>
                                    {% elif fld.type == 'list' %}
                                        <select name="{{ fld.id }}">
                                            {% for choice in fld.choices %}
                                                <option value="{{ choice.id }}">{{ choice.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif fld.type == 'multilist' %}
                                        <select multiple name="{{ fld.id }}">
                                            {% for choice in fld.choices %}
                                                <option value="{{ choice.id }}" {% if choice.name in fld.value %}selected="selected"{% endif %}>{{ choice.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </div>
                                {% if forloop.counter|divisibleby:"3"  or forloop.last %}
                                    <div class="clearB"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="book_update_action">
                            <input type="submit" value="Save" class="action_update" />
                            <input type="button" class="action_delete" value="Back" onClick="window.history.back();"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>