{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Manager Co.</title>
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/book_store.css' %}" />
        <link rel="stylesheet" href="{% static 'css/book_admin.css' %}" />
        <script type="text/javascript" src="{% static 'js/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/babel-core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <div class="book_store_wrapper">
            {% include 'header.html' %}
            <div class="book_store_container">
                <div class="book_view_admin">
                    <div class="book_view_label">{{ record_type|capfirst }}</div>
                    <div class="book_view_form">    
                        {% for fld in record_field %}
                            <div class="book_view_fld">
                                <label for="">{{ fld.name }}</label>
                                {% if fld.type == 'text' %}
                                    <span>{{ fld.value }}</span>
                                {% elif fld.type == 'textarea' %}
                                    <p>{{ fld.value }}</p>
                                {% elif fld.type == 'list' %}
                                    <ul>
                                        {% for l in fld.value %}
                                            <li>
                                            <a href="/admin/view/{{ record_type }}/{{ l }}/">{{ l }}</a>
                                            </li>
                                        {% empty %}
                                            <li>None</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            {% if forloop.counter|divisibleby:"3"  or forloop.last %}
                                <div class="clearB"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="book_view_action">
                        <form method="POST" action="/admin/update/{{ record_type }}/{{ record_id }}/">
                            {% csrf_token %}
                            <input type="submit" value="Update" class="action_update" />
                        </form>
                        <form method="POST" action="/admin/delete/{{ record_type }}/{{ record_id }}/" onSubmit="return confirm('This will permanently delete this record. Are you sure you want to continue?');">
                            {% csrf_token %}
                            <input type="submit" class="action_delete" value="Delete" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>