* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

div {
    display: block;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
}

form {
    display: inline-block;
}

.book_store_wrapper {
    width: 100%;
}

.book_store_header {
    width: 100%;
    background-color: #444;
    box-shadow: 0 2px 3px #999;
}

.book_store_container {
    width: 780px;
    margin: 0 auto;
}

.book_store_logo {
    float: left;
    width: 300px;
}

.book_store_logo img{
    display: block;
    float: left;
}

.book_store_logo span{
    display: block;
    color: #058642;
    font-weight: bold;
    font-size: 24px;
    height: 55px;
    line-height: 75px;
    margin-left: 10px;
    float: left;
}

.book_store_nav {
    float: right;
    width: 480px;
}

.book_top_nav {
    height: 36px;
}

.book_nav_login {
    float: right;
    padding: 5px 0;
}

.book_nav_login * {
    color: #EEE;
    font-size: 10px;
}

.book_nav_login a {
    text-decoration: none;
}

.book_nav_login a:active {
    color: #CCC;
}

.nav_item {
    float: right;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px 3px 0 0;
    margin: 0 1px;
}

.nav_item:hover, .nav_active {
    background-color: #EEE;
}

.nav_item:hover a, .nav_active a{
    color: #444 !important;
}

.nav_item a {
    color: #EEE;
    text-decoration: none;
    font-size: 13px;
}

.store_container_left {
    float: left;
    width: 520px;
    margin: 20px 0 10px;
}

.store_container_right {
    float: right;
    width: 240px;
    margin: 20px 0 10px;
}

.book_store_collection {
    width: 100%;
}

.book_collection_label {
    color: #EEE;
    background-color: #444;
    text-align: center;
    padding: 5px 7px;
    width: 100px;
    border-radius: 3px 3px 0 0;
}

.book_collection_container {
    border-top: solid 1px #444;
    padding: 5px;
}

.collection_item {
    width: 160px;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    float: left;
}

.collection_item:nth-child(3n):after{
    content: ".";
    display: table;
    clear: both;
    visibility: hidden;
    height: 0;
}

.collection_item:nth-child(3n) + .collection_item {
    clear: both;
}

.collection_title {
    font-weight: bold;
    padding: 2px 0 0;
}

.collection_title a {
    color: #000;
    text-decoration: none;
}

.collection_item:hover a{
    color: #0000EE;
}

.collection_author {
    padding: 0 0 3px;
}

.collection_img {
    text-align: center;
    border-bottom: solid 1px grey;
}

.collection_img img {
    width: 152px;
    height: 140px;
}

.book_search_label, .collection_cart_label {
    background-color: #444;
    color: #EEE;
    text-align: center;
    padding: 5px 7px;
    width: 100px;
    border-radius: 3px 3px 0 0;
}

.book_search_box {
    border-top: solid 1px #444;
    padding-top: 10px;
}

.book_search_txt {
    display: block;
    float: left;
    width: 130px;
    padding: 5px 7px;
    border: solid 1px grey;
    height: 25px;
    border-radius: 15px 0 0 15px;
    margin-left: 10px;
}

.book_search_btn {
    float: left;
    border: solid 1px #444;
    width: 70px;
    height: 25px;
    line-height: 25px;
    border-radius: 0 15px 15px 0;
    margin-left: -1px;
    padding: 0 5px;
    background-color: #444;
    color: #EEE;
    text-align: center;
    cursor: pointer;
}

.book_search_suggestion {
    margin: 5px;
    min-height: 220px;
}

.book_search_suggestion ul {
    list-style: none;
}

.book_search_suggestion li {
    padding: 3px 5px 3px 10px;
}

.book_search_suggestion a {
    text-decoration: none;
    color: #058642;
}

.book_search_suggestion a:hover {
    text-decoration: underline;
}

.search_book_label, .view_book_label {
    color: #EEE;
    background-color: #444;
    text-align: center;
    padding: 5px 7px;
    border-radius: 3px 3px 0 0;
    width: 250px;
}

.search_book_list, .view_book_list {
    border-top: solid 1px #444;
}

.view_book_list {
    padding: 10px 0;
}

.search_book_nolist {
    text-align: center;
    margin: 10px;
}

.search_item {
    margin: 10px;
    border-bottom: solid 1px #CCC;
    padding-bottom: 10px;
}

.search_item_img {
    width: 120px;
    height: 120px;
}

.search_item_left {
    float: left;
    width: 140px;
}

.view_item_left {
    float: left;
    width: 160px;
}

.search_item_right {
    float: left;
    width: 340px;
    height: 120px;
    padding: 10px 0 0;
}

.view_item_right {
    float: right;
    width: 340px;
    padding: 10px 0;
}

.search_item_title a, .view_item_title a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #444;
}

.search_item_author {
    font-size: 14px;
}

.search_item .action_update, .view_item .action_update{
    background: #07c762;
    background-image: -webkit-linear-gradient(top, #07c762, #07c762);
    background-image: -moz-linear-gradient(top, #07c762, #07c762);
    background-image: -ms-linear-gradient(top, #07c762, #07c762);
    background-image: -o-linear-gradient(top, #07c762, #07c762);
    background-image: linear-gradient(to bottom, #07c762, #07c762);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 5px;
    text-decoration: none;
    width: 85px;
    text-align: center;
    display: inline-block;
    margin: 0 7px;
    border: solid 1px transparent;
    cursor: pointer;
}

.search_item .action_update:hover, .view_item .action_update:hover{
    background: #07c762;
    background-image: -webkit-linear-gradient(top, #07c762, #09e872);
    background-image: -moz-linear-gradient(top, #07c762, #09e872);
    background-image: -ms-linear-gradient(top, #07c762, #09e872);
    background-image: -o-linear-gradient(top, #07c762, #09e872);
    background-image: linear-gradient(to bottom, #07c762, #09e872);
    text-decoration: none;
}

.search_item .action_delete, .view_item .action_delete {
    background: #CE4844;
    background-image: -webkit-linear-gradient(top, #CE4844, #CE4844);
    background-image: -moz-linear-gradient(top, #CE4844, #CE4844);
    background-image: -ms-linear-gradient(top, #CE4844, #CE4844);
    background-image: -o-linear-gradient(top, #CE4844, #CE4844);
    background-image: linear-gradient(to bottom, #CE4844, #CE4844);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 5px;
    text-decoration: none;
    width: 85px;
    text-align: center;
    display: inline-block;
    margin: 0 7px;
    border: solid 1px transparent;
    cursor: pointer;
}

.search_item .action_delete:hover, .view_item .action_delete:hover {
    background: #CE4844;
    background-image: -webkit-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -moz-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -ms-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -o-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: linear-gradient(to bottom, #CE4844, #dc7d7a);
    text-decoration: none;
}

.view_item_desc {
    padding: 10px 20px;
}

.search_item_action {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.search_item:hover .search_item_action {
    display: block;
}

.collection_cart_list {
    border-top: solid 1px #444;
}

.collection_cart_total {
    margin-top: 10px;
    padding: 5px 7px;
    text-align: right;
    border-top: dotted 3px #444;
}

.collection_cart_empty {
    text-align: center;
    padding: 10px;
}

.collection_cart_empty span {
    font-size: 13px;
    margin-left: 5px;
}

.cart_total_label {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.cart_total_value span{
    font-size: 16px;
    font-weight: bold;
}

.action_cart {
    display: block;
    width: 24px;
    height: 24px;
    /**width: 32px;
    height: 32px;**/
    margin: 0 auto;
    background-image: url('/templates/images/add_cart.png');
    float: left;
}

.action_label {
    display: block;
    height: 32px;
    line-height: 32px;
    color: #078743;
    font-weight: bold;
    float: left;
    margin-left: 5px;
}

.collection_cart_item {
    margin: 5px 0;
}

.cart_item_left {
    width: 60px;
    float: left;
    height: 60px;
}

.cart_item_left img {
    height: 65px;
    margin-top: 10px;
    width: 60px;
}

.cart_item_right {
    float: left;
    width: 170px;
    margin-left: 10px;
}

.cart_item_name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 60px;
}

.cart_item_qty {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 3px 5px;
    text-align: right;
    width: 40px;
}

.cart_item_price {
    font-weight: bold;
    margin: 5px 7px;
}

.cart_item_line .action_delete {
    background: #CE4844;
    background-image: -webkit-linear-gradient(top, #CE4844, #CE4844);
    background-image: -moz-linear-gradient(top, #CE4844, #CE4844);
    background-image: -ms-linear-gradient(top, #CE4844, #CE4844);
    background-image: -o-linear-gradient(top, #CE4844, #CE4844);
    background-image: linear-gradient(to bottom, #CE4844, #CE4844);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 11px;
    padding: 3px 4px;
    text-decoration: none;
    width: 55px;
    text-align: center;
    display: inline-block;
    border: solid 1px transparent;
    cursor: pointer;
}

.cart_item_line .action_delete:hover {
    background: #CE4844;
    background-image: -webkit-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -moz-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -ms-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -o-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: linear-gradient(to bottom, #CE4844, #dc7d7a);
    text-decoration: none;
}

.collection_cart_total .action_update{
    background: #07c762;
    background-image: -webkit-linear-gradient(top, #07c762, #07c762);
    background-image: -moz-linear-gradient(top, #07c762, #07c762);
    background-image: -ms-linear-gradient(top, #07c762, #07c762);
    background-image: -o-linear-gradient(top, #07c762, #07c762);
    background-image: linear-gradient(to bottom, #07c762, #07c762);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    padding: 3px 4px;
    text-decoration: none;
    width: 120px;
    text-align: center;
    display: inline-block;
    margin: 5px 7px;
    border: solid 1px transparent;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.collection_cart_total .action_update:hover{
    background: #07c762;
    background-image: -webkit-linear-gradient(top, #07c762, #09e872);
    background-image: -moz-linear-gradient(top, #07c762, #09e872);
    background-image: -ms-linear-gradient(top, #07c762, #09e872);
    background-image: -o-linear-gradient(top, #07c762, #09e872);
    background-image: linear-gradient(to bottom, #07c762, #09e872);
    text-decoration: none;
}

.clearB {
    clear: both;
}