.book_list_label {
    background-color: #444;
    color: #EEE;
    text-align: center;
    padding: 5px 7px;
    width: 100px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}

.book_list_table {
    border-top: solid 1px #444;
}

.book_list_table th, .record_store_table th {
    color: #EEE;
    background-color: #444;
    padding: 5px 7px;
    text-align: center;
    font-weight: normal;
}

.book_list_table td, .record_store_table td{
    padding: 5px 7px;
    text-align: center;
}

.book_list_table a, .record_store_table a, .book_view_fld a{
    text-decoration: none;
    color: #000;
}

.book_list_table a:hover, .record_store_table a:hover, .book_view_fld a:hover{
    color: #0000ee;
}

.book_list_table tr:nth-child(2n), .record_store_table tr:nth-child(2n){
    background-color: #ddd;
}

.admin_search_box {
    border-top: solid 1px #444;
}

.admin_search_box input{
    display: block;
    position: relative;
    width: 220px;
    padding: 5px 7px;
    margin: 10px 0 0 10px;
    border: solid 1px #ddd;
    border-radius: 3px;
}

.admin_search_btn {
    display: block;
    height: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    cursor: pointer;
}

.admin_search_result label {
    border-bottom: 3px dotted #333333;
    display: block;
    font-weight: bold;
    margin: 10px 7px;
    padding-bottom: 5px;
    text-align: center;
}

.search_item {
   padding: 5px 0;
   margin-top: -1px;
   border-bottom: solid 1px #CCC;
}

.search_item img {
    width: 75px;
    padding-right: 5px;
}

.search_item_left {
    width: 80px;
    float: left;
}

.search_item_right {
    width: 138px;
    float: right;
}

.search_item_title a {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.search_item_action {
    margin: 5px 0 0 0;
}

.store_btn {
    background: #38761d;
  background-image: -webkit-linear-gradient(top, #38761d, #274e13);
  background-image: -moz-linear-gradient(top, #38761d, #274e13);
  background-image: -ms-linear-gradient(top, #38761d, #274e13);
  background-image: -o-linear-gradient(top, #38761d, #274e13);
  background-image: linear-gradient(to bottom, #38761d, #274e13);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 11px;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  display: block;
  float: left;
  width: 100px;
  cursor: pointer;
  text-align: center;
  margin: 0 0 0 5px;
}

.store_btn:hover {
    background: #58ba2e;
    background-image: -webkit-linear-gradient(top, #58ba2e, 87d964);
    background-image: -moz-linear-gradient(top, #58ba2e, 87d964);
    background-image: -ms-linear-gradient(top, #58ba2e, 87d964);
    background-image: -o-linear-gradient(top, #58ba2e, 87d964);
    background-image: linear-gradient(to bottom, #58ba2e, 87d964);
    text-decoration: none;
}

.view_btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 11px;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  margin-left: 5px;
  display: block;
  float: left;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

.view_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.admin_list_wrapper {
    max-height: 470px;
}

.book_scroll_tracker {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.book_scroll_tracker:hover, .book_scroll_tracker.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.book_scroll_handler {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.book_scroll_tracker:hover .book_scroll_handler, .book_scroll_tracker.dragging .book_scroll_handler {
    width: 10px;
}

.action_markAll, .action_unmarkAll {
    background: #999999;
    background-image: -webkit-linear-gradient(top, #999999, #999999);
    background-image: -moz-linear-gradient(top, #999999, #999999);
    background-image: -ms-linear-gradient(top, #999999, #999999);
    background-image: -o-linear-gradient(top, #999999, #999999);
    background-image: linear-gradient(to bottom, #999999, #999999);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    width: 85px;
    text-align: center;
    display: inline-block;
    margin: 5px 3px;
}

.action_markAll:hover, .action_unmarkAll:hover {
    background: #9a9a9a;
    background-image: -webkit-linear-gradient(top, #9a9a9a, #ccc);
    background-image: -moz-linear-gradient(top, #9a9a9a, #ccc);
    background-image: -ms-linear-gradient(top, #9a9a9a, #ccc);
    background-image: -o-linear-gradient(top, #9a9a9a, #ccc);
    background-image: linear-gradient(to bottom, #9a9a9a, #ccc);
    text-decoration: none;
}

.action_delete {
    background: #CE4844;
    background-image: -webkit-linear-gradient(top, #CE4844, #CE4844);
    background-image: -moz-linear-gradient(top, #CE4844, #CE4844);
    background-image: -ms-linear-gradient(top, #CE4844, #CE4844);
    background-image: -o-linear-gradient(top, #CE4844, #CE4844);
    background-image: linear-gradient(to bottom, #CE4844, #CE4844);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    width: 85px;
    text-align: center;
    display: inline-block;
    margin: 5px 7px;
    border: solid 1px transparent;
    cursor: pointer;
}

.action_delete:hover {
    background: #CE4844;
    background-image: -webkit-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -moz-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -ms-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: -o-linear-gradient(top, #CE4844, #dc7d7a);
    background-image: linear-gradient(to bottom, #CE4844, #dc7d7a);
    text-decoration: none;
}

.action_update {
    background: #07c762;
    background-image: -webkit-linear-gradient(top, #07c762, #07c762);
    background-image: -moz-linear-gradient(top, #07c762, #07c762);
    background-image: -ms-linear-gradient(top, #07c762, #07c762);
    background-image: -o-linear-gradient(top, #07c762, #07c762);
    background-image: linear-gradient(to bottom, #07c762, #07c762);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    width: 85px;
    text-align: center;
    display: inline-block;
    margin: 5px 7px;
    border: solid 1px transparent;
    cursor: pointer;
}

.action_update:hover {
    background: #07c762;
    background-image: -webkit-linear-gradient(top, #07c762, #09e872);
    background-image: -moz-linear-gradient(top, #07c762, #09e872);
    background-image: -ms-linear-gradient(top, #07c762, #09e872);
    background-image: -o-linear-gradient(top, #07c762, #09e872);
    background-image: linear-gradient(to bottom, #07c762, #09e872);
    text-decoration: none;
}

.book_view_admin, .book_update_admin, .record_store_list {
    margin: 20px 0;
}

.book_view_label, .book_update_label, .record_store_label {
    background-color: #444444;
    border-radius: 3px 3px 0 0;
    color: #eeeeee;
    font-weight: bold;
    padding: 5px 7px;
    text-align: center;
    width: 100px;
}

.book_view_form, .book_update_form, .record_store_table {
    border-top: solid 1px #444;
}

.book_view_fld, .book_update_fld {
    width: 240px;
    float: left;
    margin: 10px;
}

.book_view_fld label, .book_update_fld label {
    display: block;
}

.book_view_fld span, .book_view_fld p{
    margin-left: 10px;
    font-weight: bold;
}

.book_view_fld p {
    overflow-y: scroll;
    max-height: 100px;
}

.book_view_fld li {
    margin-left: 20px;
    font-weight: bold;
}

.book_update_fld input[type="text"] {
    display: block;
    width: 220px;
    padding: 3px 5px;
    border-radius: 3px;
    border: solid 1px #CCC;
}

.book_update_fld textarea {
    display: block;
    width: 220px;
    height: 75px;
    padding: 3px 5px;
    border-radius: 3px;
    border: solid 1px #CCC;
}

.book_update_fld select {
    display: block;
    width: 220px;
    padding: 3px 5px;
    border-radius: 3px;
    border: solid 1px #CCC;
}